<h2>Lista de productos:</h2>
<hr />
{{#each products}}
<div>
    Id:{{this.id}}
    Title:{{this.title}}
    description:{{this.description}}
    code:{{this.code}}
    price:{{this.price}}
    status:{{this.status}}
    status:{{this.status}}
    category:{{this.category}}
</div>
{{/each}}